@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --theme-green: rgb(85, 146, 85);
  --theme-yellow: rgb(180, 180, 119);
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgb(234, 244, 253);
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: #000;
  font-weight: 700;
  margin: 0;
  font-size: 28px;
}